# IDE specific
.idea/
.vscode/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

*.sqlite3
env/
venv/
.venv/

### Project specific ###
settings_local.py

### OS specific ###
.DS_Store
creating-project/
models_list_displaying/
phone_comparison/
databases_2/
django-testing/
drf-auth-and-validation/
drf-intro/
dynamic-templates/
first-project/
request-handling/
site-form-works/
site-personalization/
HOW_TO_WORK.md
README.md